* {
    margin: 0;
    padding: 0;
}


a:hover, a:focus {
    text-decoration: none
}

.mobile-nav ul li a {
    color: rgba(27, 209, 203, 0.96);
    display: block;
    padding: 1em 5%;
    border-top: 1px solid rgba(10, 130, 126, 0.96);
    border-bottom: 1px solid rgba(8, 134, 130, 0.96);
    transition: all 0.2s ease-out;
    cursor: pointer;
}

#mobile-menu
{
    position: fixed;
    top: 0;
    left: 0;
    width: 220px;
    height: 100%;
    background-color: rgba(89, 13, 98, 0.89);
    z-index: 9999;
    transition: all 0.3s ease-in;
}



.mobile-nav ul li a:hover {
    background-color: #23A1F6;
    color: #ffffff;
}

.show-nav {
    transform: translateX(0);
}

.hide-nav {
    transform: translateX(-220px);
}
.hide-taggle {
    transform: translateX(0);
}
.show-taggle {
    transform: translateX(220px);
}
/*²à»¬¹Ø¼ü*/
.mobile-nav-taggle {
    height: 35px;
    line-height: 35px;
    width: 35px;
    background-color: #23A1F6;
    color: #ffffff;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.nav.avbar-inverse {
    position: relative;
}

.nav-btn {
    position: absolute;
    left: 20px;
    top: 20px;
}
